*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  margin: 0;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

/* 2. гл.контейнер */
.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

/* 3. плеер и форма  */
.result {
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: 0;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
}

.search-form__textfield {
  width: 225px;
  padding: 0;
  font-family: inherit;
  font-size: 18px;
  color: #fff;
  background: transparent;
  border-top: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  border-right: none;
  appearance: none;
  padding-bottom: 3px;
  padding-top: 1px;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  margin-bottom: 6px;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;
  padding-top: 4px;
  padding-bottom: 6px;
}
.search-form__pseudo-checkbox {
  margin: 1px;
  padding: 2px;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}
.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}
.search-form__label-text.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}
.search-form__label:has(input[type="checkbox"]:focus-visible)
  .search-form__pseudo-checkbox {
  outline: 2px solid #000000;
  outline-offset: 2px;
}
.search-form__submit-button {
  padding: 6px 73px;
  align-self: flex-end;
}
/* 4. правая секция   */
.content__details {
  flex-grow: 1;
  height: 534px;
}

.title {
  margin-bottom: 23px;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 30px;
}
.content__list-item {
  padding-left: 1px;
  padding-right: 1px;
}
.content__card-link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}
.content__card-link:active {
  background-color: #545454;
}
.content__card-link_current {
  background-color: rgba(255, 255, 255, 0.2);
}
.content__card-link:hover {
  text-decoration: underline;
}
.content__card-link:focus {
  outline: none;
}
.content__card-link:focus-visible {
  outline: 2px solid #ffffff;
}
.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-title {
  display: block;
  margin-bottom: 6px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 16px;
  line-height: 0.9;
  overflow: hidden;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}
.more-button {
  margin-top: 30px;
  padding: 6px 142px;
}

/* 5. общие части  */
.button {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  color: #fff;
  background: transparent;
  cursor: pointer;
  outline: none;
  opacity: 1;
  border: 1px solid #ffffff;
}
.button:hover {
  text-decoration: underline;
}
.button:active {
  background-color: rgba(255, 255, 255, 0.5);
}
.button:focus-visible {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}
/* 6. скролл */
.content__list-container::-webkit-scrollbar {
  width: 3px;
}

.content__list-container::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.content__list-container::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
/* 7. доп.классы  */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
